<div class="kui-flex-wrap">
  <style>.kui-software-key{height:0px}#__kai_router__{height:266px!important;}.kui-router-m-bottom{margin-bottom:0px!important;}</style>
  <div class="kai-container" style="margin:2px;">
    <h5>Diclaimer: This service is not guaranteed to be accurate</h5>
    <h5 style="margin:6px 2px 2px 6px;">Version 1.1.1</h5>
    <ul style="padding: 1px 0 1px 20px;font-size:14px;margin-bottom:2px;">
      <li style="margin-right:0px;margin-bottom:3px;">Improve UI/UX</li>
    </ul>
    <h5 style="margin:6px 2px 2px 6px;">Version 1.1.0</h5>
    <ul style="padding: 1px 0 1px 20px;font-size:14px;margin-bottom:2px;">
      <li style="margin-right:0px;margin-bottom:3px;">Add <b>Bond and Rates</b>, <b>Government Bonds Spreads</b> and <b>Equities</b></li>
      <li style="margin-right:0px;margin-bottom:3px;">Improve <b>Cryptocurrency Market</b> navigation</li>
    </ul>
  </div>
</div>
