<div class="kui-flex-wrap">
  <ul class="kui-list kai-container">
    <li class="kui-divider">
      <input id="amount" type="tel" class="convertNav kui-input" style="margin:2%;width:96%;" placeholder="Amount" value=""/>
    </li>
    <li class="kui-divider">
      <input id="from_unit" class="convertNav kui-input" style="margin:2%;width:96%;" placeholder="From(Country or unit)" value=""/>
    </li>
    <li class="kui-divider">
      <input id="to_unit" class="convertNav kui-input" style="margin:2%;width:96%;" placeholder="To(Country or unit)" value=""/>
    </li>
    <li class="kui-divider convertNav" style="height:56px;" @click="submit()">
      <div class="kui-row-center" style="justify-content:space-around;">
        <h4>CONVERT NOW</h4>
      </div>
    </li>
  </ul>
</div>
