<div class="kui-flex-wrap">
  <div class="kai-padding-5" style="font-family:monospace,monospace;">
    <div class="kui-text-center">
      <h4>{{ current.name }}</h4>
    </div>
    <div>
      <h5>Price</h5>
      <div class="kui-row-center">
        <span>&#8627;</span>
        <span>${{ current.priceUsd }}</span>
      </div>
    </div>
    <div>
      <h5>Market Cap</h5>
      <div class="kui-row-center">
        <span>&#8627;</span>
        <span>${{ current.marketCapUsd }}</span>
      </div>
    </div>
    <div>
      <h5>VWAP(24Hr)</h5>
      <div class="kui-row-center">
        <span>&#8627;</span>
        <span>${{ current.vwap24Hr }}</span>
      </div>
    </div>
    <div>
      <h5>Supply</h5>
      <div class="kui-row-center">
        <span>&#8627;</span>
        <span>{{ current.supply }}</span>
      </div>
    </div>
    <div>
      <h5>Volume(24Hr)</h5>
      <div class="kui-row-center">
        <span>&#8627;</span>
        <span>${{ current.volumeUsd24Hr }}</span>
      </div>
    </div>
    <div>
      <h5>Change(24Hr)</h5>
      <div class="kui-row-center">
        <span>&#8627;</span>
        <span>{{ current.changePercent24Hr }}%</span>
      </div>
    </div>
  </div>
</div>
