<div class="kui-flex-wrap">
  <ul class="kui-list kai-container" style="font-size:14px;width:240px;">
    <li class="homeNav kui-divider" style="border-bottom: 1px solid #c0c0c0;" @click="getCryptoCurrencies()"><pre>Cryptocurrency Market(1 - 100)</pre></li>
    <li class="homeNav kui-divider" style="border-bottom: 1px solid #c0c0c0;" @click="getCommodities()"><pre>Commodities Price</pre></li>
    <li class="homeNav kui-divider" style="border-bottom: 1px solid #c0c0c0;" @click="getBondAndRates()"><pre>Bond and Rates</pre></li>
    <li class="homeNav kui-divider" style="border-bottom: 1px solid #c0c0c0;" @click="getGovBondsSpreads()"><pre>Government Bonds Spreads</pre></li>
    <li class="homeNav kui-divider" style="border-bottom: 1px solid #c0c0c0;" @click="gotoEquities()"><pre>Equities</pre></li>
    <li class="homeNav kui-divider" style="border-bottom: 1px solid #c0c0c0;" @click="getCurrencies('Majors|Majors Currency')"><pre>Majors Currency</pre></li>
    <li class="homeNav kui-divider" style="border-bottom: 1px solid #c0c0c0;" @click="getCurrencies('Europe|Europe Currency')"><pre>Europe Currency</pre></li>
    <li class="homeNav kui-divider" style="border-bottom: 1px solid #c0c0c0;" @click="getCurrencies('Americas|Americas Currency')"><pre>Americas Currency</pre></li>
    <li class="homeNav kui-divider" style="border-bottom: 1px solid #c0c0c0;" @click="getCurrencies('Africa|Africa Currency')"><pre>Africa Currency</pre></li>
    <li class="homeNav kui-divider" style="border-bottom: 1px solid #c0c0c0;" @click="getCurrencies('AsiaPacific|Asia Pacific Currency')"><pre>Asia Pacific Currency</pre></li>
  </ul>
</span>
