<div class="kui-flex-wrap">
  <ul class="kui-list kai-container">
    <li class="homeNav" style="border-bottom: 1px solid #c0c0c0;" @click="getCommodities()">Commodities Price</li>
    <li class="homeNav" style="border-bottom: 1px solid #c0c0c0;" @click="getCurrencies('Majors')">Majors Currency</li>
    <li class="homeNav" style="border-bottom: 1px solid #c0c0c0;" @click="getCurrencies('Europe')">Europe Currency</li>
    <li class="homeNav" style="border-bottom: 1px solid #c0c0c0;" @click="getCurrencies('Americas')">Americas Currency</li>
    <li class="homeNav" style="border-bottom: 1px solid #c0c0c0;" @click="getCurrencies('Africa')">Africa Currency</li>
    <li class="homeNav" style="border-bottom: 1px solid #c0c0c0;" @click="getCurrencies('AsiaPacific')">Asia Pacific Currency</li>
  </ul>
</span>
