<div class="kui-flex-wrap">
  <ul class="kui-list kai-container">
    <li class="homeNav" style="border-bottom: 1px solid #c0c0c0;" @click="getCommodities()"><pre>Commodities Price</pre></li>
    <li class="homeNav" style="border-bottom: 1px solid #c0c0c0;" @click="getCurrencies('Majors')"><pre>Majors Currency</pre></li>
    <li class="homeNav" style="border-bottom: 1px solid #c0c0c0;" @click="getCurrencies('Europe')"><pre>Europe Currency</pre></li>
    <li class="homeNav" style="border-bottom: 1px solid #c0c0c0;" @click="getCurrencies('Americas')"><pre>Americas Currency</pre></li>
    <li class="homeNav" style="border-bottom: 1px solid #c0c0c0;" @click="getCurrencies('Africa')"><pre>Africa Currency</pre></li>
    <li class="homeNav" style="border-bottom: 1px solid #c0c0c0;" @click="getCurrencies('AsiaPacific')"><pre>Asia Pacific Currency</pre></li>
  </ul>
</span>
